body{background-color:#e9ebee}.container{width:600px}#footer-banner{margin-bottom:20px;border-radius:4px}
/* .list-input  {
  margin-bottom: 5px;
} */
.list-input .input-group-addon img {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border-radius: 50%;
}
